
// Yu Gothic
// -----------------------------------------------------------------------------
@font-face {
	font-family: "xYuGothic";
	src:
		local( "YuGothic-Medium" ),  // win postscript
		local( "Yu Gothic Medium" ), // win fill name (for Chrome)
		local( "YuGo-Medium" ),      // mac postscript
		local( "YuGothic Medium" ),  // mac fill name (for Chrome)
		local( "YuGothic-Regular" ), // Win8.1 (no Medium)
		local( "Yu Gothic" );        // family name
}

// Yu Mincho
// -----------------------------------------------------------------------------
@font-face {
	font-family: "xYuMincho";
	src:
		local( "YuMincho-Regular" ),  // win postscript
		local( "Yu Mincho Regular" ), // win fill name (for Chrome)
		local( "YuMin-Medium" ),      // mac postscript
		local( "YuMincho Medium" ),   // mac fill name (for Chrome)
		local( "Yu Mincho" );         // family name
}

// font-family: 'Noto Sans JP', sans-serif;
// @import url( "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap" );
